<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <div class="container">
      <header>

      </header>
      <section class="content">
        <h1>Yes, It's Frydad</h1>
      </section>
      <footer>

      </footer>
    </div>
  </body>
</html>
